/*Name: Nwanya Christopher C
Student number: 8903828 */
body {
    font: 12px "Helvetica", san-serif;
    background-color: hsla(224, 100%, 50%, 1);
    height: 100vh;
    width: 100vw;
}
h1{
    color: burlywood;
    font-size: 22px;
}
aside ul{
    list-style-type:circle;
}
aside li{
    line-height: 3rem;
    color: rgba(225, 39, 123, 0.8);
}
a{
    color: rgba(39, 45, 1, 0.9);
}
h2{
    color: #999;
    font-size: 2rem;
}
header{
    background-color: hsl(200,87%, 60%);
}
main{
    float: left;
    width: 65vw;
    background-color: hsl(125,75%, 40%);
}
nav ul li {
    display: inline;
    list-style: none;
  }
nav ul li a {
    color: indigo;
    border: 2px solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover {
    color: cornsilk;
    background-color: indigo;
    border: 2px solid cornsilk;
}
aside{
    float: right;
    width: 25vw;
    background-color: hsl(300,45%, 56%);
}

footer{
    clear: both;
    background-color: hsl(320,32%, 23%);
}

.structural{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(107, 7, 49);
}
#para2{
    color: rgb(141, 16, 208);
}
form{
    border: 5px dashed darkblue; 
    padding: 5px
}
input[type=text], input[type=email], input[type=submit], select, option {
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select, option, label, legend, input[type=submit]{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    weight: 50%;
}
fieldset{
    border: none;
}
aside a:hover{
    color: #09c;
}
footer p{
    font-size: .75em;
}